::before,::after,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
#main{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1,h2,h3,.nav,#footer{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;  
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 1.2rem !important; */
 }


.container{
    --text: #fff;
    --text-inverse:#333;
    --background: rgba(0,0,0,.9);
}
.nav{
   
    background: var(--background);
    position:fixed;
    top:0;
    display:grid;
    grid-template-columns:repeat(3,350px 600px 400px);
    padding:1em 6em ;
    width:100%;
    color: var(--text);
    transition: background 250ms ease-in;
    z-index: 100;

}
.nav .content{
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

.nav .content img{
    height: 80px;
    width:100px; 
}
.nav .content_primary{
    justify-content: center;
}
.content strong{
    font-size: 1.4rem;
    color: #1da74f;
}
.content span{
    font-size:smaller;
}
.filter_image{
    filter: invert(33%) sepia(18%) saturate(1780%) hue-rotate(89deg) brightness(96%) contrast(91%);
}

.nav__logo{
    text-decoration: none;
    text-transform: uppercase;
    color:inherit;
    font-size: 1.2rem;
    word-spacing: .1rem;
    text-align: left;
    width:min-content;

}
.nav__list{
    display: flex;
    font-size: 1rem;
    list-style: none;
    justify-content: center;
    font-weight: 500;
}
.nav__item{
    margin-right: 1em;
    padding: 1rem 0;
}

.nav__link{
    color:inherit;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight:600;
}

.nav_contact{
    display: flex;
    align-items: center;
    font-size: .9rem !important;
    font-family: 'Fjalla One',sans;
    font-weight: 700;
    
}
.nav_contact p{
    margin-right: 1.5rem;
    width: min-content;
    line-height:1;
}

.contact_adress a{
    text-decoration: none;
    color: #1d974a;
   
}
.contact_adress a:hover{
    color: #2dd46b;
}
.contact_adress{
    display: grid;
    grid-template-rows: repeat(2,auto);
    gap: .7rem;
}

.nav__scrolled{
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.dropdown-item{
    width: 200px;
    height: 200px;
    display:none;
    margin-top: 1rem;
    padding-top: 1.5rem ;
    position:absolute;
    list-style: none;
    background: var(--background);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.dropdown-list{
    padding: .5rem 2rem .5rem 1.3rem;
}
.dropdown-list:hover{
    background-color: rgba(22, 112, 55,.8);;
}
.dropdown .fa-solid{
    padding-left: .5rem;
    color:inherit;
}
.dropdown-link{
    text-decoration: none;
    color:inherit;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
}
.dropdown:hover .dropdown-item{
    display: block;
}

/* **************** navigation design code ends here ********************************** */


#banner{
    /* position:relative; */
    margin-top: 120px;
}
.banner{
    height: 40vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    color: #fff;
    text-align: center;
    display: grid;
    place-content: center;
    text-transform: uppercase;
    /* font-family: 'Times New Roman', Times, serif !important; */
}
.banner h1{
    font-size: 2.5em;
}


/* these area contains all the code for the about us/ who_we_are page */
#main_content{
    height: auto;
    width: 100%;
}
.about_us_content{
    --color:#167037;
    --transform: uppercase;
    --padding: 1rem;
}
.about_us_image{
    text-align:center;
    height:400px;
    display:grid;
    place-content:center;
}
.about_image{
    height: 300px;
    width: 300px;
}
.about_us_header{
    padding-bottom: var(--padding);
    color: var(--color);
    text-transform: var(--transform);
}
.about_tya{
    text-align: center;
    padding-bottom: 3rem;
    padding:  6rem;
    line-height: 1.5;
}
.about_tya h2{
    font-size: 2rem;
    text-align: center;
    padding: 0 20rem;
}

.about_tya p{
    text-align: center;
    padding: 1rem;
}

.about_us_grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    background:#f4f4f4;
    padding: 6rem;
    line-height:1.5;
}
.about_us_grid img{
    height: 80px;
    width: 80px;
    margin: 2rem;
}


/* this area contains code for about us/ what_we_do page */

.content_area{
    width: 100%;
    --color:#167037;
    --transform: uppercase;
    --padding: 1rem;
    margin: 4rem 0;
}

.paragraph_one{
    text-align: center;
    padding: 2rem 6rem;
    line-height: 1.5;
}
.paragraph_one p{
    text-transform: uppercase;
    font-weight:500;
}
.paragraph_one .header{
    padding-top: 2.5rem;
    font-size: 1.7rem;
    color: var(--color);
    text-transform: var(--transform);
}

.our_programs{
    display: grid;
    gap: 2rem;
    grid-template-columns:repeat(2,1fr);
    margin: 3rem 6rem;
}
.our_programs .header{
    font-size:1.5rem;
    padding-bottom: 1rem;
    color: var(--color);
    text-transform: var(--transform);
}
.our_programs .paragraph{
    padding: var(--padding);
    text-align: left;
    padding-right: 3rem;
    line-height: 1.5;
    font-size: 1.1rem;
}
.our_programs .paragraph .fa-solid{
    font-size: 2rem;
}
.our_programs .paragraph img{
    height:80px;
    width: 80px;
}







/*************************************** footer section *********************************/

#footer{
    background-color: rgba(0,0,0,.9);
 

}
.footer-logo{
    height: 100px;
    width: 100px;
}
.footer-header{
    color:#167037;
    text-transform:capitalize;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding: 3rem 0;
    margin: 0 6rem;
}

.footer-container-contact{
    display: flex;
    flex-direction: column;
   
}
.footer-contact-link{
    padding-top: 1rem;
    color: #fff;
    text-decoration: none;
}

.footer__nav__list{
    list-style: none;
}
.footer__nav__item{
    padding-top: .8rem;
}
.footer__nav__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.socials_grid{
    display: grid;
    grid-template-columns: repeat(2,50px); 
}
.socials{
    margin-top: 1rem;
    height: 30px;
    width: 30px;
    overflow:hidden;
 
}
.socials:hover .socials_logo{
    transform: translateY(-30px);
    transition: ease-in-out 300ms;
}
.socials:hover .socials_icon{
    transform: translateY(-33px);
    transition: all ease-in-out 300ms;
}