::before,::after,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#main{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:2em 6em ;
    width:100%;
    z-index: 1;

}

.nav__logo{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    word-spacing: .2rem;
}
.nav__list{
    display: flex;
    font-size: 1.2rem;
    list-style: none;
    justify-content: flex-end;
    
}
.nav__item{
    margin-right: 1em;
}

.nav__link{
    font-family: 'Roboto',sans-serif;
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
}

.banner{
    height: 40vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    color: #167037;
    text-align: center;
    display: grid;
    place-content: center;
}
.banner h1{
    font-size: 3em;
}
























/*************************************** footer section *********************************/

#footer{
    background-color: rgba(0,0,0,.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}
.footer-logo{
    height: 100px;
    width: 100px;
}
.footer-header{
    color:#167037;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding: 3rem 0;
    margin: 0 6rem;
}

.footer-container-contact{
    display: flex;
    flex-direction: column;
    /* padding-top: 1rem; */
}
.footer-contact-link{
    padding-top: 1rem;
    color: #fff;
    text-decoration: none;
}

.footer__nav__list{
    list-style: none;
}
.footer__nav__item{
    padding-top: .8rem;
}
.footer__nav__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.fa-solid{
    color: #167037;
    padding-right:.6rem; 
}
.social ul{
    list-style: none;
}
.social .fa-brands{
    color: #fff;
    font-size: 2rem;
    padding-top: 1rem;
}